大文字小文字の違いを無視する:YES
_Rename.csvを利用する:YES
_Replace.csvを利用する:YES
描画インターフェース:TEXTRENDERER
PRINTCを並べる数:3
PRINTCの文字数:26
;フォント名:굴림체
;フォント名:MS Gothic
フォントサイズ:16
一行の高さ:16
フレーム毎秒:5
ボタンの途中で行を折りかえさない:YES
サブディレクトリを検索する:YES
読み込み順をファイル名順にソートする:YES
eramaker互換性に関する警告を表示する:NO
セーブデータをバイナリ形式で保存する:YES
セーブデータをUTF-8で保存する:YES
内部で使用する東アジア言語:KOREAN